/* 
    * Common  Section
    * Common  Class
    * Preloder
    * Header
    * Banner
*/

/*========== Common Section Start  ==========*/
:root {
  --color-1: #f42a41;
  --color-2: #006a4e;
  --color-white: #fff;
  --color-black: #000;
  --font-family-1: "Poppins", sans-serif;
  --font-family-2: "Source Serif Pro", serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: 0;
  transition: all linear 0.3s;
}
html {
  /* font-size: 10px; */
}
body {
  font-family: var(--font-family-1);
  /* color: var(--color-2); */
}

ul {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-2);
  margin-bottom: 0;
}

/* h1{font-size: 6rem;}
h2{font-size: 5rem;}
h3{font-size: 4rem;}
h4{font-size: 3rem;}
h5{font-size: 2rem;}
h6{font-size: 1.6rem;} */

p {
  margin-bottom: 0;
  font-size: 1.4rem;
}

img {
  width: 100%;
}

/*========== Common Section End  ============*/

/*========== Custom Common Class Start ===========*/
.primary_color {
  color: var(--color-1);
}
.bg_green {
  background: var(--color-2);
}
button.button {
  border: none;
}
.button {
  background: var(--color-1);
  color: var(--color-white);
  padding: 1.5rem 4rem;
  font: 600 1.5rem var(--font-family-1);
  transition: all linear 0.3s;
}

.button:hover {
  background: var(--color-2);
  color: var(--color-white);
}

.section_heading {
  text-align: center;
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 35px;
  color: #404145;
}

.section_content {
  padding-bottom: 60px;
}
.section_content p {
  text-align: center;
  color: #999;
}

.course_category,
.mentor,
.why_choose,
.about_us,
.notice,
.newsletter,
.registaion_form_section,
.registation_course,
.testimonial,
.registaion_details_section,
.gallery {
  padding: 6rem 0;
}
/*========== Custom Common Class End ===========*/

.w_100 {
  width: 100px;
}

.mt_60 {
  margin-top: 60px;
}
