/*
    * Common  Section
    * Common  Class
    * Preloder
    * Header
    * Banner
*/

/*========== Common Section Start  ==========*/
:root {
  --color-1: #f42a41;
  --color-2: #006a4e;
  --color-white: #fff;
  --color-black: #000;
  --font-family-1: "Poppins", sans-serif;
  --font-family-2: "Source Serif Pro", serif;
  --font-family-inter: 'Inter', sans-serif;

}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: 0;
  transition: all linear 0.3s;
}
html {
  /* font-size: 10px; */
}
body {
  font-family: var(--font-family-inter);
  position: relative;
  background: #f6f6f6;
}

ul {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-inter);
  margin-bottom: 0;
}
.sticky-navbar {
  /* background-color: red !important; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
  border-bottom: 1px solid #f42a41;
}

p {
  margin-bottom: 0;
  font-size: 16px;
}

img {
  width: 100%;
}

/*========== Common Section End  ============*/

/*========== Custom Common Class Start ===========*/
.primary_color {
  color: var(--color-1);
}
.bg_green {
  background: var(--color-2);
}
button.button {
  border: none;
}
.button {
  background: var(--color-1);
  color: var(--color-white);
  padding: 15px 40px;
  font: 600 15px var(--font-family-1);
  transition: all linear 0.3s;
}

.button-red {
    background-color: var(--color-1);
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    height: 55px;
    line-height: 53px;
    padding: 0 40px;
    text-align: center;
    transition: all .3s ease-out 0s;
}

.button-red:hover {
    background-color: var(--color-2);
    color: #fff;
}

.button:hover {
  background: var(--color-2);
  color: var(--color-white);
}

.section_heading::before {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 48%;
    width: 48px;
    height: 2px;
    background: #ed344d;
    display: block;
    margin: 0 auto;
}
.section_heading {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 36px;
    color: #181818;
    text-transform: capitalize;
    position: relative;
}
.section_content {
  padding-bottom: 60px;
}
.section_content p {
    text-align: center;
    color: #0c0c0c;
}


.team,
.question,
.choose_us,
.about_us,
.notice,
.registaion_form_section,
.registation_course,
.testimonial,
.profile_page,
.blog,
.course-details,
.course,
.contact,
.registaion_details_section{
  padding: 60px 0;
  position: relative;
}
/*========== Custom Common Class End ===========*/

.w_100 {
  width: 100px;
}

.mt_60 {
  margin-top: 60px;
}

.fs-24{
    font-size: 24px;
}
