
/** GLOBAL CLASSES **/
*{
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #535353;
}
a{
  text-decoration: none;
}
ul {
  margin-bottom: 0;
}
li {
  list-style-type: none;
}

.img-fluid {
  max-width: 100% !important;
  height: auto;
}

.content_side {
	background: url(../img//banner/login.jpg) no-repeat center;
	background-size: cover;
	padding: 7rem;
	color: #fff;
	min-height: 100vh;
	position: relative;
	z-index: 1;
}

.content_side::after {
	z-index: -1;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1e6f55e6;
}

.content_side .welcome {
	text-align: center;
	padding-bottom: 46px;
}

.content_side .achive h2 {
	color: #fff;
	font-size: 17px;
	font-weight: 800;
}

.content_side ul {
	margin-bottom: 0;
	padding-left: 0;
	font-size: 14px;
	line-height: 25px;
	margin-top: 20px;
}

.content_side ul li {
	color: #f2f2f2;
}

.content_side ul li i{
  padding: 0 10px 0 0;
}

.form_side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 130px;
	/* height: 100vh; */
}
.form_side .logo{
    text-align: center;
}
.form_side .logo img {
	width: 180px;
	display: inline-block;
	margin: 0 auto;
	padding-bottom: 40px;
}
.form_side h2{
  margin-bottom: 30px;
  position: relative;
}

.form_side h2::after{
  position: absolute;
}

.form_side .color_primary {
    color: #ed344d;
}

.form_side p, .form_side label{
	font-size: 14px;
	font-weight: 600;
}
.passwordDiv{
    position: relative;
}
.passwordDiv span {
    position: absolute;
    top: 30%;
    right: 10px; cursor: pointer;
}

.form_side .social_link_item{
	text-align: center;
}

.form_side .social_link {
    background: transparent;
    color: #6a6666;
    border: 1px solid #ced4da;
    font-size: 14px;
    font-weight: 500;
    display: block;
    width: 100%;
    line-height: 40px;
    border-radius: 5px;
    margin-bottom: 13px;
    transition: .6s;
}

.form_side .social_link:hover{
  background: transparent;
}

.facebook_color{
  border:1px solid #3b5998 !important;
}
.facebook_color:hover{
  background:#3b5998 !important;
  color: #fff;
}

.google_color{
  border:1px solid #DB4437 !important;

}

.google_color:hover{
  background:#DB4437 !important;
  color: #fff;
}

.forgot_link {
    color: #ed344d;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    display: block;
}

.forgot_link:hover {
    color: #ed344d;
}


.spanOr {
	position: relative;
	font-weight: 500;
	text-align: center;
	margin: 35px 0;
	font-size: 13px;
	color: #9d9d9d;

}

.spanOr::after, .spanOr::before {
	content: "";
	background-color: #ddd;
	width: 42%;
	height: 1px;
	position: absolute;
	top: 12px;
	overflow: none;
}

.spanOr::after{
  right: 0;
}

.spanOr::before{
  left: 0;
}


.register_link {
	text-align: center;
	margin: 20px 0px;
}

/* Bootstrap Customize  */


.form-control {
	background: #F9F9F9;
  	/* border-radius: 1.25rem; */
}

.form-check-input:checked {
	background-color: #1b6c52;
	border-color: #1b6d53;
}

.form-check-input:focus {
	border-color: #9bbfb4;
  box-shadow: 0 0 0 .25rem rgba(27, 109, 83, 0.26);
}

.form-control:focus {
	color: #212529;
	border-color: #9bbfb4;
	box-shadow: 0 0 0 .25rem rgba(26, 108, 82, 0.26);
}

.btn {
	background: #1a6c52;
	color: #fff;
	width: 100%;
	margin-bottom: 0;
	/* border-radius: 1.25rem; */
}
.btn:hover{
	color: #fff;
}

.login_about_content p{
	font-size: 15px;
}

.achive_item h2{
	padding-top: 40px;
}

.video_box{
	position: relative;
	background: url(../img/blog/2.jpg) no-repeat center;
	background-size: cover;
	width: 300px;
	height: 180px;
	border-radius: 20px;
	overflow: hidden;
	z-index: 1;
}

.video_box::after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.507);
	width: 100%;
	height: 100%;
	z-index: -1;
}

.play_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.video_box i {
	font-size: 70px;
}

.video_box i:hover {
	cursor: pointer;
}

iframe{
	width: 100%;
	height: 100%;
}


/* Responsive code  */

@media (min-width: 1200px) {
	.spanOr::after, .spanOr::before {
		width: 40%;
	}
}



@media (min-width: 992px) and (max-width: 1199px) {
	.form_side {
		padding: 0px 60px;
	}

	.spanOr::after, .spanOr::before {
		width: 35%;
	}

	.content_side {
		padding: 60px;
	}
}



@media (min-width: 768px) and (max-width: 991px) {

    .form_side {
		padding: 0 45px;
	}

	.spanOr::after, .spanOr::before {
		width: 30%;
	}

	.form_side .logo img {
		width: 120px;
		padding-bottom: 30px;
	}

	.content_side {
		padding: 40px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {

	.spanOr::after, .spanOr::before {
		width: 35%;
	}
	.form_side .logo img {
		width: 130px;

	}

	.content_side {
		padding: 40px;
	}
}

@media (min-width: 320px) and (max-width: 575px) {
.form_side {
    padding: 40px 40px;
}

	.content_side {
		padding: 40px;
	}

	.video_box {
		width: 230px;
		height: 130px;
		border-radius: 10px;
	}

	.video_box i {
		font-size: 40px;
	}

	.achive_item {
		padding-bottom: 40px;
	}

	.achive_item p {
		font-size: 15px;
	}

	.spanOr::after, .spanOr::before {
		width: 32%;
	}

}








