/*
* Preloader
* Header
* > Top Header
* > Navbar
*
*
* Common Section
* Common Class
* Preloder
* Header
* Banner
*/
:root {
    --color-1: #f42a41;
    --color-2: #006a4e;
    --color-white: #f1f1f1;
    --color-black: #0c0c0f;
    --font-family-1: "Poppins", sans-serif;
    --font-family-2: "Source Serif Pro", serif;
    --font-family-inter: 'Inter', sans-serif;
    --box-shadow: 0 8px 16px 0 rgb(146 184 255 / 20%);
}

/*=========== Preloader Section Start ==========*/
.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #f1f1f1;
    width: 100%;
    height: 100%;
}
.loader {
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before,
.loader:after {
    content: "";
    border: 10px solid var(--color-2);
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before {
    animation-delay: 0.5s;
}
.loader:before {
    border: 10px solid var(--color-1);
}
@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {

    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/*============ Preloader Section End ============== */

/*============ header Css Start ===================*/

/* Top Header Start */
.top_header {
    background: #111D30;
    line-height: 50px;
}
.top_header_contact_ul{}
.top_header_contact_ul li {
    margin-right: 25px;
}
.top_header_contact_ul li {
    color: #f1f1f1;
    font-size: 13px;
}

.top_header_contact_ul li i {
    padding-right: 2px;
    color: #f42a41;
    font-size: 13px;
}
.top_header_right {
    display: flex;
    flex-direction: row-reverse;
}
.top_header_social_ul{}

.top_header_social_ul li {
padding-left: 12px;
}
.top_header_social_ul li a {
    color: #f1f1f1;
    font-size: 16px;
}

.top_header_social_ul li a i:hover{
color: #f42a41;
}

/* Top Header End */

/* navbar header start */
header nav {
    background: var(--color-white);
    box-shadow: 0 10px 20px 0 rgba(8,0,42,.08);
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0 12px;
    color: #494b4f;
    font-size: 15px;
    transition: all linear 0.3s;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-1);
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(237 52 77);
}

.navbar_auth {
}
.navbar_auth ul {
}

.profile_dropdown .dropdown-menu {
    padding: 0;
    overflow: hidden;
    left: -100%;
}
.navbar_auth ul li {
    border-bottom: 1px solid #ddd;
}
.navbar_auth ul li:last-child {
    border-bottom: none;
}
.navbar_auth ul li a {
    padding: 10px 16px;
    color: #2f2f2f;
    font-size: 14px;
}

header {
}

nav .logo img {
    width: 100px;
}

nav ul li a {
    color: var(--color-white);
    padding: 0 15px;
    font-weight: 500;
    font-size: 14px;
    transition: all linear 0.3s;
}

.navbar_logo {
color: #f1f1f1;
position: absolute;
font-size: 22px;
}

.navbar_logo::after {
position: absolute;
content: "";
bottom: 32%;
left: 0;
width: 100%;
height: 2px;
background: #ff4f5a;
}
.menu {
margin: 0 auto;
}
.menu_search_section {
color: #f1f1f1;
}

.menu_search_section_item li {
margin: 0 10px;
font-size: 18px;
}

.profile_dropdown button {
background: none;
border: none;
color: #494b4f;
font-size: 14px;
font-weight: 500;
}


.sign-in-btn a{
    background: #ed344d;
    color: #ffffff !important;
    padding: 8px 16px;
    border-radius: 3px;
    box-shadow: 0 4px 3px 0px #00000036;
}

.sign-in-btn a:hover{
    background: #1a6c52;

}


.sign-up-btn a {
    background: #1a6c52;
    color: #ffffff !important;
    padding: 8px 16px;
    border-radius: 3px;
    box-shadow: 0 4px 3px 0px #00000036;
    margin-left: 3px;
}

.sign-up-btn a:hover{
    background: #ed344d;
}
/* navber header end */
/*============ Header section end ==============*/

/*============ Banner section Start ==============*/
.banner {

padding: 0px 0;
position: relative;
z-index: 1;
/* margin-top: 60px; */
padding: 170px 0;
}
.banner::before {
position: absolute;
content: "";
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #00000085;
z-index: -1;
}
.banner_content h1 {
color: var(--color-white);
font: 700 48px var(--font-family-inter);
margin-bottom: 35px;
line-height: 60px;
}

.banner_content p {
    color: #f1f1f1;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
    width: 70%;
}

.banner ul li {
color: white;
display: inline-block;
margin-bottom: 40px;
padding-right: 44px;
}
/*========= Banner section end ===========*/

/*=========== Page Banner section start =============*/
.page_banner {
position: relative;
z-index: 1;
padding: 100px 0;
}

.registation_form_page {
background: url(../img/registaion/registaion_banner.jpg) no-repeat center;
background-size: cover;
}

.registation_details_page {
background: url(../img/registaion/bangladesh6.jpg) no-repeat center;
background-size: cover;
}

.registation_form_page{
background: url(../img/registaion/registaion_banner.jpg) no-repeat center;
background-size: cover;
}

.registation_details_page{
background: url(../img/registaion/bangladesh6.jpg) no-repeat center;
background-size: cover;
}

.page_banner::before {
position: absolute;
content: "";
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #0e0c0cc7;
z-index: -1;
}

.page_banner_content {
text-align: center;
}

.page_banner_content h2 {
color: var(--color-white);
font-size: 36px;
padding-bottom: 20px;
}

.page_banner_content p {
color: #c5c5c5;
font-size: 15px;
}

.page_banner .breadcrumb {
justify-content: center;
}
.page_banner .breadcrumb-item.active {
color: #f42a41;
}
.page_banner .breadcrumb-item a{
color: #f1f1f1;
}
/*============ Page Banner section end =================*/

/*=============== registion form setion css start ============*/
.registaion_form {
}

.registaion_form label {
font-size: 16px;
padding-bottom: 5px;
color: black;
}

.registaion_form input,
.registaion_form select {
padding: 8px 10px;
font-size: 16px;
/* border: none; */
/* border-bottom: 1px solid #ced4da; */
border-radius: 75px;
width: 75%;
margin-bottom: 10px;
}

.mandatory {
color: red;
}

.registaion_form input:focus {
/* border-color: var(--color-2);
box-shadow:none; */
}

/*================== registion form setion css end ===================*/



.team, .profile_page, .question, .choose_us, .about_us, .blog, .course-details, .course, .contact, .registaion_form_section,
.registation_course, .testimonial, .registaion_details_section,.gallary{
padding: 10px 0;
}
/* registation_course section css start */
.registation_course{
background: url(../img/banner/registation_course.jpg) no-repeat center;
background-size: cover;
position: relative;
z-index: 1;
color: var(--color-white);
}

.registation_course::before {
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: #000000e6;
z-index: -1;
}

.registation_course h4 {
font-weight: 600;
padding-bottom: 20px;
font-size: 26px;
}
.registation_course p {
font-size: 16px;
}

.registation_course a:nth-child(2) {
background: var(--color-2);
margin-left: 5px;
}

.registation_course a:nth-child(2):hover {
/* background: var(--color-1); */
}
/*=============== registation_course section css end ===============*/

/*=============== About us section start ===============*/
.about_us h5 {
    padding: 20px 0 10px;
    font-size: 22px;
    font-weight: 700;
    color: var(--color-1);
    font-family: var(--font-family-1);
}

.about_us p {
    padding-bottom: 20px;
    line-height: 24px;
    color: #4e4e4e;
}

.about_us_img img{
display: block;
margin: 0 auto;
width: 80%;
}
/*================ About us section end ================*/


/*================ Choose section start ================*/

.choose_us_img img {
display: block;
width: 70%;
margin: 0 auto;
}

.choose_item {
display: flex;
align-items: center;
margin: 0 0 35px;
}

.choose_item i {
background: #f42a4121;
width: 110px;
height: 60px;
text-align: center;
line-height: 60px;
font-size: 22px;
border-radius: 5px;
margin-right: 12px;
color: #f42a41bf;
}

.choose_item h6 {
font-weight: 600;
line-height: 30px;

}
.choose_item p {
font-size: 14px;
font-weight: 500;
}

.choose_us_content .sub_title {
font-size: 28px;
font-weight: 600;
padding-bottom: 10px;
}

.choose_us_content .sub_content {
padding-bottom: 40px;
font-size: 14px;
font-weight: 500;
}

/*================ Choose section end ================*/

/*================ Notcie section css start ================*/
.notice {
    border-radius: 5px;
    overflow: hidden;
    background: #ed344d0d;
}
.notice_item {
box-shadow: 5px 5px 20px #00000034;
margin-bottom: 30px;
border-radius: 4px;
overflow: hidden;
background: #f1f1f1;
border-bottom: 3px solid #ed344d;
}

.notice_item img {
height: 205px;
}

.notice_item .notice_item_content {
padding: 30px;
}

.notice_item .notice_item_content .notice_category {
    color: #878787;
    font-size: 14px;
    font-weight: 400;
}

.notice_item .notice_item_content .notice_date {
    color: #878787;
    font-size: 14px;
    font-weight: 400;
}
.notice_item .notice_item_content h5 {
padding: 15px 0;
font: 600 18px var(--font-family-1);
color: #484848;
}

.notice_item .notice_item_content .notice_description {
color: #484848;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
font-size: 13px;
}

.notice_item .notice_item_content .buy_btn {
background: #ff4f5a;
padding: 8px 16px;
border-radius: 3px;
color: #f1f1f1;
font-size: 14px;
}

.our_course_item .our_course_item_content .buy_btn i {
padding-right: 5px;
}

.see_all_btn {
    background-color: var(--color-1);
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    height: 55px;
    line-height: 53px;
    padding: 0 40px;
    text-align: center;
    transition: all .3s ease-out 0s;
}
/* Notice section css end */

/* ======= Blog Css Start ======= */
.blog{}
.blog .blog_item {
    overflow: hidden;
    margin-bottom: 60px;
    box-shadow: 0 8px 16px 0 rgb(146 184 255 / 20%);
    border-radius: 5px;
}
.blog .blog_item:hover img{
/* transform: scale(1.1); */
}
.blog .blog_item img {
/* border-radius: 15px; */
width: 100%;
}

.blog .blog_item .blog_item_content {
    padding: 30px;
    background: #fff;
}

.blog .blog_item .blog_item_content ul {
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}

.blog .blog_item .blog_item_content ul li {
font-size: 14px;
color: #f42a41cc;
font-weight: 400;
}
.blog .blog_item .blog_item_content h4{
margin-bottom: 10px;
}

.blog .blog_item .blog_item_content h4 a, .blog .blog_item .blog_item_content h4 a:hover {
    font-size: 24px;
    color: #11254c;
    font-weight: 800;
}
.blog .blog_item .blog_item_content p{
font-size: 16px;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
}



/* Blog Details */
.blog_details {
margin-bottom: 80px;
}

.blog_details .thumbnail{}

.blog_details ul {
margin: 20px 0;
}
.blog_details ul li {
font-size: 12px;
padding-right: 15px;
color: #6a6a6a;
}
.blog_details h4 {
margin-bottom: 20px;
font-size: 24px;
font-weight: 700;
color: #002147;
}
.blog_details p {
margin-bottom: 20px;
font-size: 16px;
}

.blog_sidebar {
background: url(../img/widget.jpg);
margin-bottom: 20px;
padding: 20px;
box-shadow: 0 0 7px 0px #c5c5c5;
}
.blog_sidebar .subtitle {
    font-size: 24px;
    margin-bottom: 20px;
    color: #d3301e;
    font-weight: 600;
}
.blog_sidebar .small_item {
display: flex;
margin-bottom: 20px;
}

.blog_sidebar .small_item:last-child {
margin-bottom: 0;
}

.blog_sidebar .small_item .blog_img {
width: 40%;
}
.blog_sidebar .small_item .blog_img img {
min-width: 80px;
max-width: 80px;
}

.blog_sidebar .small_item .item_content {
padding: 0px 8px;

}

.blog_sidebar .small_item h6{}

/* comment */
.comments-form .title h4, .blog_comment h4 {
border-bottom: 1px solid #e7e7e7;
font-weight: 700;
margin-bottom: 30px;
padding-bottom: 25px;
text-transform: uppercase;
font-size: 18px;
color: #002147;
line-height: 1.2;
letter-spacing: 0;
margin: 0;
}
.blog_comment h4 {

margin-bottom: 30px !important;

}

.contact-comments .comments {
margin-top: 20px;
}

.comments-form textarea {
min-height: 180px;
padding: 15px;
}

.contact-comments .submit {
margin-bottom: 0;
}

.comments-form button {
background-color: #002147;
border: 1px solid transparent;
color: #ffffff;
display: inline-block;
font-family: "Montserrat",sans-serif;
font-size: 12px;
font-weight: 600;
line-height: 25px;
margin-top: 20px;
border-radius: 5px;
padding: 12px 40px;
text-transform: uppercase;
transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-ms-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

/* Blog Comment */

.media {
margin-bottom: 25px;
display: flex;
align-items: flex-start;
}

.media img {
border-radius: 100%;
max-width: 60px;
border: 3px solid #f1f1f1;
}

.media .media-body {
padding-left: 20px;
}

.media .media-body h5 {
margin-bottom: 20px;
font-size: 18px;

font-weight: 700;
line-height: 1.3;
margin-bottom: 0px;
color: #07294D;
}

.media .media-body h5 span {
    font-size: 12px;
    padding-left: 10px;
    margin-left: 10px;
    font-family: "Muli", sans-serif;
    color: #b9b9b9;
    border-left: 2px solid #eee;
}


.media .reply-link {
font-size: 12px;
font-family: "Muli", sans-serif;
float: right;
text-transform: uppercase;
color: #777;
letter-spacing: 1px;
}
.media .reply-link i {
margin-right: 5px;
}
.media-body {
flex: 1;
}

.media .media-body .media {
margin-top: 35px;
}



/* ======= Blog Css Start ======= */

/* gallery css start */
.gallery {
}

.gallery .col-md-3{
padding: 0;
}
.gallery_item{
overflow: hidden;
position: relative;
}
.gallery_item::after {
position: absolute;
content: "";
top: 50%;
left: 50%;
width: 0%;
height: 0%;
background: #0000008a;
}

.gallery_item:hover::after {
width: 100%;
height: 100%;
top: 0;
left: 0;
}

.gallery_item:hover img{
transform: scale(1.1);
}

.gallery_eye {
position: absolute;
top: 0;
left: 0;
z-index: 1;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.gallery_eye i {
font-size: 24px;
color: #f1f1f1;
border: 1px solid #f1f1f1;
padding: 10px;
display: none;
}

.gallery_item:hover .gallery_eye i {
display: block;
}

.gallery .popup-image{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, .9);
z-index: 9999999;
display: none;
}

.gallery .popup-image span{
position: fixed;
top: 0;
right: 10px;
color: #f1f1f1;
cursor: pointer;
z-index: 9999999;
}

.gallery .popup-image img{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 70%;
border: 3px solid #f1f1f1;

}

/* gallery css end */

/* team Css Start */

.team_item {
position: relative;
overflow: hidden;
margin-bottom: 20px;
border-radius: 6px;
}
.team_item_backside {
position: absolute;
top: 0;
left: -100%;
background: #006a4e;
width: 100%;
height: 100%;
padding: 20px 0;
box-sizing: border-box;
border-radius: 6px;
}
.team_item:hover .team_item_backside {
left: 0;
}

.team_item_backside .team_content ul {
justify-content: center;
transition: none;
}
.team_item_backside .team_content ul li {

}
.team_item_backside .team_content ul li a {
    font-size: 18px;
    color: #006a4e;
    height: 40px;
    width: 40px;
    display: inline-block;
    background: #f1f1f1;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 4px;

}
.team_item_backside .team_content ul li a:hover {
color: var(--color-1);
}

.team_image img {
border-radius: 50%;
width: 35%;
border: 5px solid #224c22;
}
.team_item_backside {
text-align: center;
}
.team_item_backside .team_content {
padding: 20px 0;
}
.team_item_backside .team_content .team_name {
margin-bottom: 15px;
font-family: var(--font-family-1);
color: #f1f1f1;
}

.team_item_backside .team_content .team_designation {
margin-bottom: 20px;
color: #cbcbcb;
font-weight: 500;
font-family: var(--font-family-1);
font-size: 16px;
}

.team_item_backside .team_content p {
padding-bottom: 20px;
color: #999;
}

/* team css end */

/* Auto Counter Css Start */
.auto_counter {
position: relative;
z-index: 1;
}

.full-counter {
    background: #1a6c52;
    color: #fff;
    border-radius: 15px;
    padding: 70px 50px;
    text-align: center;
}
.full-counter .col-lg-3 {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.full-counter .col-lg-3:last-child {
    border-right: none;
}
.counter_item {
text-align: center;
color: var(--color-white);
}
.counter_item h3 {
font: 50px var(--font-family-1);
font-weight: 800;
}

.counter_item h5 {
font: 20px var(--font-family-1);
}

/* Auto Counter Css End */

/* question css start */

.question .accordion {
width: 100%;
}
.question .accordion-button {
    font: 18px var(--font-family-1);
    font-weight: 500;
    color: #606060;
    background: #ffffff;
    padding: 20px 30px;
}
.question .accordion-button:not(.collapsed) {
    color: var(--color-1);
    box-shadow: none;
    background: #ffffff;
    font-size: 18px;
    padding: 20px 30px;
}
.question .accordion-body {
    font-size: 16px;
    padding: 30PX 20PX;
    line-height: 1.7;
    border-top: 1px solid #ebebeb;
    color: #545454;
    background: #fff;
}
.question .accordion-button::after {
width: 1rem;
height: 1rem;
background-size: 1rem;
}

.question .accordion-item:first-of-type .accordion-button {
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.question .accordion-button:focus {
box-shadow: none;
}

.question .accordion-header .accordion-button::after {
position: absolute;
top: 22%;
right: 5%;
content: "\2b";
color: #FF5E14;
background: rgba(0, 0, 0, 0);
font-weight: 600;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
font-size: 20px;
}

.question .accordion-header .accordion-button:not(.collapsed)::after {
margin-top: 18px;
content: "\2d";
color: #FF5E14;
background: transparent;
font-weight: 600;
font-size: 20px;
}

.question .accordion-item {
    background-color: #a1a1a10f;
    border: none;
    margin-bottom: 30px;
}
/* question css end */




/* Testimonial Css STart */
.testimonial_image img {
width: 100px;
height: 100px;
border-radius: 50%;
margin-bottom: 24px;
border: 2px solid #EF5C72;
border-style: dashed;
}


.testimonal_item {
    background: #ffffff;
    text-align: center;
    padding: 60px;
    border-radius: 4px;
    margin: 0 0 13px 0;
    box-shadow: 0 8px 16px 0 rgb(146 184 255 / 20%);
}
.testimonial_name {
color: #111d30;
font: 600 18px var(--font-family-1);
padding-bottom: 5px;
}
.testimonial_designation {
padding-bottom: 24px;
color: #f42a41;
font-family: var(--font-family-1);
font-size: 14px;
}
.testimonial_description {
color: #656566;
font-family: var(--font-family-1);
font-weight: 500;
}

.owl-carousel .owl-item img {
display: inline-block;
width: 100px;
}

.testimonial .owl-next{
position: absolute;
top: 160px;
right: -35px;
}
.testimonial .owl-prev {
position: absolute;
top: 160px;
left: -30px;
}
.testimonial .owl-prev i, .testimonial .owl-next i {
font-size: 20px;
padding: 6px 6px;
color: var(--color-1);
}

/* testimonial css End */

/* footer css start */

.rs-footer.style1 {
    background: #121212;
    background-size: cover;
}

.rs-footer.style1 .footer-top {
    padding: 92px 0 65px;
}

.rs-footer.style1 .footer-top .footer-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding-bottom: 14px;
}

.rs-footer.style1 .footer-top .footer-title:after {
    content: "";
    width: 50px;
    height: 4px;
    background: #bb0b0b;
    position: absolute;
    bottom: -4px;
    right: 0;
    left: 0;
    margin-left: 0;
    border-radius: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 0;
}
.rs-footer.style1 .footer-top .footer-social li {
    display: inline;
    margin-right: 5px;
}
.rs-footer.style1 .footer-top .footer-social li a i {
    padding: 0 0px 0 0;
    font-size: 15px;
    margin-right: 3px;
    transition: all .8s ease;
    background: #1c2024;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 0;
    color: #fff;
    text-align: center;
}

.rs-footer.style1 .footer-top .site-map,
.rs-footer.style1 .footer-top .address-widget {
    display: block;
}

.rs-footer.style1 .footer-top .site-map li {
    margin-bottom: 15px;
}
.rs-footer.style1 .footer-top .site-map li a {
    font-size: 15px;
    color: #ffffff;
}

.rs-footer.style1 .footer-top .address-widget li {
    padding: 0px 0px 16px 40px;
    position: relative;
}
.rs-footer.style1 .footer-top .address-widget li i {
    color: #bb0b0b;
    position: absolute;
    left: 0px;
}

.rs-footer.style1 .footer-top .address-widget li .desc {
    color: #ffffff;
}

.rs-footer.style1 .footer-top .address-widget li .desc a {
    color: #ffffff;
}

.rs-footer.style1 .footer-top .address-widget li .desc a:hover {
    color: #bb0b0b;
}

.rs-footer.style1 .footer-top .widget-desc {
    margin: 0;
}
.rs-footer.style1 .footer-top p {
    margin: 30px 0 0;
    position: relative;
    color: #fff;
}
.rs-footer.style1 .footer-bottom {
    padding: 20px 0;
    background: #000;
}

.y-middle {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.rs-footer.style1 .footer-bottom .copy-right-menu{
    display:block;

}

.rs-footer.style1 .footer-bottom .copy-right-menu li {
    display: inline-block;
    position: relative;
    padding: 0px 19px 0 25px;
}

.rs-footer.style1 .footer-bottom .copy-right-menu li a {
    color: #ffffff;
}

.rs-footer.style1 .footer-bottom .copyright p {
    margin: 0;
    color: #ffffff;
}

.pb-40 {
    padding-bottom: 40px;
}



/* ============================================ */

#back_to_top_btn {
display: inline-block;
background-color: #f42a41;
width: 40px;
height: 40px;
text-align: center;
border-radius: 50%;
position: fixed;
bottom: 30px;
right: 30px;
transition: background-color .3s,
opacity .5s, visibility .5s;
opacity: 0;
visibility: hidden;
z-index: 1000;
}
#back_to_top_btn::after {
content: "\f062";
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
font-size: 16px;
line-height: 40px;
color: #f1f1f1;
}
#back_to_top_btn:hover {
cursor: pointer;
background-color: #333;
}
#back_to_top_btn:active {
background-color: #555;
}
#back_to_top_btn.show {
opacity: 1;
visibility: visible;
}

.testimonial .owl-next {
position: absolute;
top: 160px;
right: -35px;
}
.testimonial .owl-prev {
position: absolute;
top: 160px;
left: -30px;
}
.testimonial .owl-prev i, .testimonial .owl-next i {
font-size: 20px;
padding: 6px 6px;
color: #033528;
}

/* testimonial css End */



/* ============================================ */

#back_to_top_btn {
display: inline-block;
width: 40px;
height: 40px;
text-align: center;
border-radius: 50%;
position: fixed;
bottom: 30px;
right: 30px;
transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
opacity: 0;
visibility: hidden;
z-index: 1000;
}
#back_to_top_btn::after {
content: "\f062";
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
font-size: 16px;
line-height: 40px;
color: #f1f1f1;
}
#back_to_top_btn:hover {
cursor: pointer;
background-color: #333;
}

#back_to_top_btn.show {
opacity: 1;
visibility: visible;
background: #333;
}



/* ================================================== */








/* ======= Modal ========= */
.modal_box {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background: rgba(0, 0, 0, .9);

}

/* Modal Content/Box */
.modal_content {
background: #fefefe;
padding: 2px;
border: 1px solid #888;
width: 80%;
max-width: 600px;
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
box-shadow: 0px 0px 14px 0px rgba(33,33,33,0.91);
-webkit-box-shadow: 0px 0px 14px 0px rgba(33,33,33,0.91);
-moz-box-shadow: 0px 0px 14px 0px rgba(33,33,33,0.91);
transition: all linear .3s;
}

.close {
color: #f1f1f1;
float: right;
font-size: 18px;
font-weight: bold;
position: absolute;
top: 3px;
right: 13px;
}
.close:hover,
.close:focus {
color: var(--color-black);
text-decoration: none;
cursor: pointer;
}

.modal_content img {
width: 100%;
padding-bottom: 15px;
}

.modal_content button {
display: block;
margin: 0 auto 12px;
}




/* Profile Page Css Start */
.profile_page ul{
display: block;
}
.profile_page ul li{}
.profile_page ul li span {
font-weight: 600;
color: #404040;
}

.profile_image_card, .profile_information_card {
background: #f1f1f1;
border-radius: 5px;
box-shadow: 0px 0px 8px 0px #d0d0d0;
padding: 20px 0;
margin-bottom: 20px;
}


.profile_image_card{}
.profile_image_card_top {
border-bottom: 1px solid #e3e3e3;
padding: 15px;
}
.profile_image_card_top img {
width: 33%;
display: block;
margin: 0 auto;
border-radius: 50%;
border: 10px solid #e3e3e3;
}
.profile_image_card_top h6 {
text-align: center;
margin-top: 30px;
margin-bottom: 10px;
}
.profile_image_card_bottom {
padding: 20px 25px 10px;
}
.profile_image_card_bottom ul{}
.profile_image_card_bottom ul li{
font-size: 14px;
margin-bottom: 12px;
}


.profile_information_card {
padding: 25px;
}
.profile_information_card .sub_title {
padding-bottom: 20px;
color: #2aaa81;
}
.profile_information_card ul{}
.profile_information_card ul li {
font-size: 14px;
margin-bottom: 12px;
}

.profile_social {
display: inline-block !important;
}
.profile_social li {
display: inline-block;
margin: 0 5px;
}

.profile_image_update {
width: 10%;
border-radius: 50%;
margin-bottom: 20px;
border: 10px solid #ebebeb;
display: block;
}

/* Profile Page Css End */

/* Contact page start */
.contact{
/* background: rgb(245, 245, 245); */
/* z-index: -22; */
}

.contact-message h4::after, .contact-list h4::after {
position: absolute;
content: "";
background: red;
left: 0px;
width: 50px;
height: 2px;
bottom: -10px;
}

.contact-message, .contact-list {
background: #f1f1f1;
padding: 40px;
padding-top: 35px;
box-shadow: 0px 0px 5px -3px #0c0c0f;
margin-bottom: 20px;
}

.contact-message h4, .contact-list h4 {
position: relative;
margin-bottom: 30px;
}


.contact_information_item {
overflow: hidden;
clear: both;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-top: 30px;
}

.contact_information_item .icon {

overflow: hidden;
font-size: 42px;
line-height: 1;
color: #ed344deb;
margin-right: 20px;
}

.contact_information_item .text {
overflow: hidden;
}
.contact_information_item .text span {
display: block;
}

/* .contact-list{
margin-bottom: 20px;
} */

/*====================== Shape =======================*/

/* contact */

.contact-shape-group-1 .shape {
position: absolute;
z-index: -1;
}
.contact-shape-group-1 .shape.shape-1 {
top: 140px;
left: 100px;
}
.contact-shape-group-1 .shape.shape-2 {
top: 140px;
left: 315px;
}

.contact-shape-group-1 .shape.shape-3 {
bottom: 91px;
right: 700px;
}

.contact-shape-group-1 .shape.shape-4 {
bottom: 60px;
right: 230px;
}
.contact-shape-group-1 .shape.shape-5 {
top: 7%;
left: 15%;
animation: contact-shape-5 infinite 30s;
}
.contact-shape-group-1 .shape.shape-6 {
top: 10%;
right: 10%;
animation: contact-shape-6 infinite 30s;

}

@keyframes contact-shape-5 {
0% {
top: 7%; left: 15%;
}
25% {
top: 40%; left: 3%;
}
50% {
top: 50%; left: 3%;
}
75% {
top: 20%; left: 10%;
}
}

@keyframes contact-shape-6 {
0% {
right:10%; top:10%;
}

50% {
right:-2%; top:90%;
}
75% {
right:50%; top:50%;
}
}



/* Blog */
.blog-shape-group-1 .shape {
position: absolute;
z-index: -1;
}
.blog-shape-group-1 .shape.shape-1 {
top: 0;
left: 0;
/* top: 140px;
left: 100px; */
animation-name: example;
animation-duration: 15s;
animation-iteration-count: infinite;

}
.blog-shape-group-1 .shape.shape-2 {
top: 140px;
left: 315px;
}

.blog-shape-group-1 .shape.shape-3 {
bottom: 80px;
right: 0;
}

.blog-shape-group-1 .shape.shape-4 {
bottom: 60px;
right: 230px;
}
@keyframes example {
0% {
left:10%; top:0px;
}
25% {
left:60%; top:0px;
}
50% {
left:90%; top:90%;
}
75% {
left:10%; top:90%;
}
100% {
left:10%; top:0px;
}
}



/* Course */

.course-details {
    background: #f3f3f3;
    /* position: relative; */
}
.course-details .course-cariculam{
    /* position: fixed;
    top: 0;
    right: 0; */
}

.course-details .accordion-body ul {
    display: block;
    padding-left: 15px;
}
.course-details .accordion-body ul li{
    list-style: circle;
}

.single-courses-box {
    margin-bottom: 30px;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(146,184,255,.2);
}

.single-courses-box .courses-image {
    border-radius: 5px 5px 0 0;
    position: relative;
    z-index: 1;
}

.single-courses-box .courses-image .image, .single-courses-box .courses-image .image img {
    border-radius: 5px 5px 0 0;
}


.single-courses-box .courses-image .fav {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    font-size: 30px;
    line-height: 1;
}

.single-courses-box .courses-image .price {
    display: inline-block;
    background-color: #fe4a55;
    color: #fff;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: -32.5px;
    text-align: center;
    line-height: 67px;
    font-size: 24px;
    font-weight: 800;
}

.single-courses-box .courses-content {
    border-radius: 0 0 5px 5px;
    padding: 30px;
}

.single-courses-box .courses-content .course-author {
    margin-bottom: 15px;
}

.single-courses-box .courses-content .course-author img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.rounded-circle {
    border-radius: 50%!important;
}

.single-courses-box .courses-content .course-author span {
    color: #fe4a55;
    font-weight: 600;
    font-size: 15px;
}

.single-courses-box .courses-content h3 {
    margin-bottom: 12px;
    line-height: 1.3;
    font-size: 22px;
    font-weight: 600;
}
.single-courses-box .courses-content h3 a {
    display: inline-block;
}

.single-courses-box .courses-content p {

    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.single-courses-box .courses-content .courses-box-footer {
    list-style-type: none;
    padding-left: 0;
    margin: 0px -7px 20px;
}


.single-courses-box .courses-content .courses-box-footer li {
    color: #606060;
    font-size: 15px;
    position: relative;
    padding-left: 25px;
    padding-right: 7px;
}

.single-courses-box .courses-content .courses-box-footer li i {
    color: #fe4a55;
    position: absolute;
    left: 4px;
    top: 2px;
}

.course-buy-btn {
    width: 70%;
}
.course-buy-btn i{
    padding-right: 10px;
}

.course-buy-btn a{
    color: #fff;
    background: #f42a41;
    padding: 14px;
    display: block;

    border-radius: 5px;
    text-align: center;
        border: 1px solid transparent;
        transition: all linear .6s;

}
.course-buy-btn a:hover{
    background: transparent;
    cursor: pointer;
    border: 1px solid #fe4a55;
    color: #fe4a55;
}

.course-price {

    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
    color: #fe4a55;
}

.checked{
    color: var(--color-1);
}

div.stars {
  display: inline-block;
}

input.star { display: none; }

label.star {
    float: right;
    padding: 2px;
    font-size: 14px;
    color: #858585;
    transition: all .2s;
}

input.star:checked ~ label.star {
  content: '';
  color:
#e74c3c;
transition: all linear .0s;
}

input.star-5:checked ~ label.star {
  color:
#e74c3c;
  text-shadow: 0 0 5px
#7f8c8d;
}

input.star-1:checked ~ label.star { color:
#F62; }




.horline > li:not(:last-child):after {
    content: " |";
}
.horline > li {
  font-weight: bold;
  color:
#ff7e1a;

}



.poststars label.title-label {
    font-weight: 600;
    padding-top: 10px;
    color: #2c2c2c;
}
.poststars textarea {
    border: 1px solid rgb(0 0 0 / 9%);
    background: #d5d2d2;
    min-height: 120px;
    width: 100%;
    padding: 20px;
    resize: none;
    margin-bottom: 10px;
}

.review{
    margin-top: 50px;
}

.review-body{
    padding-left: 20px;
}

.review-body h3 {
    font-size: 16px;
    border-right: 1px solid #a3a3a3;
    padding-right: 20px;
    font-weight: 600;
}

.review-body small {

    padding-left: 20px;
}

.review-body span.fa{
    font-size: 12px;
}
.review-body p{
    padding-top: 5px;
}






.woocommerce table.shop_table {
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}


.woocommerce table.shop_table {
    border: none;
}
.woocommerce table.shop_table th {
    font-weight: 700;
    padding: 9px 12px;
    line-height: 1.5em;
}
.woocommerce table.shop_table th {
    line-height: 1.5em;
    padding: 9px 12px;
    vertical-align: middle;
}
.woocommerce table.shop_table.woocommerce-cart-form__contents th {
    padding: 1.618em;
}
table.cart th {
    background-color: #e7e7e7;
}
table.cart td a {
    color: #212529;
}
table.cart td.product-remove, table.cart td.actions {
    border-top-color: #fff;
}
.woocommerce table.shop_table td {
    line-height: 1.5em;
    padding: 9px 12px;
    vertical-align: middle;
    border-bottom: 1px solid #d9d9d9;
}


table.cart tr:first-child td.product-remove {
    border-top-width: 1px;
}
.woocommerce a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
}
.woocommerce a.remove {
    color: #8c8c8c !important;
}

table.cart .product-thumbnail img {
    max-width: 3.706325903em;
    height: auto;
    margin: 0 auto;
}

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
    width: 100%;
}

.woocommerce .cart-collaterals::before {
    content: ' ';
    display: table;
}
.cart-collaterals .cart_totals {
    width: 100%;
    padding: 2rem;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.woocommerce .cart-collaterals .cart_totals {
    width: 100%;
}

.cart-collaterals .cart_totals h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e5e5e5;
}

.cart-collaterals .cart_totals .shop_table {
    width: 100%;
}


.woocommerce table.shop_table {
    border: none;
}


.cart-collaterals .cart_totals .wc-proceed-to-checkout {
    margin-top: 1.5rem;
    margin-bottom: 0;
}


.woocommerce table.shop_table tbody:first-child tr:first-child td, .woocommerce table.shop_table tbody:first-child tr:first-child th {
    border-top: 0;
}

.cart-collaterals .cart_totals .shop_table th, .cart-collaterals .cart_totals .shop_table td {
    padding-bottom: 10px;
}
.cart-collaterals .cart_totals .wc-proceed-to-checkout a {
    font-size: 16px;
    display: block;
    margin-bottom: 0;
    padding: 10px 20px;
    text-align: center;
}

.cart-collaterals .cart_totals .shop_table th, .cart-collaterals .cart_totals .shop_table td {
    border: none;
}


.woocommerce table.cart td.actions{
    text-align: right;
}

.woocommerce table.cart td.actions .coupon {
    float: left;
}

.woocommerce table.cart td.actions .coupon label {
    display: none;
}
.woocommerce table.cart td.actions .input-text{
    width: 200px;
    padding: .53em;
    height: 45px;
    padding-left: 20px;
    font-weight: 400;
    box-sizing: border-box;
    color: #43454b;
    border: 1px solid #eee;
    border-radius: 4px;
    outline: 0;
    background-color: #fff;
}
.woocommerce table.cart td.actions button.button {
    color: #fff;
    background-color: #43454b;
}

@media (min-width: 768px) {

    table.shop_table_responsive tbody tr td, table.shop_table_responsive tbody tr th {
        text-align: left;
    }

}


.course_details {
    margin-bottom: 0px;
}

.course_details ul.course_top_ul {
    margin: 20px 0;
}

.course_details ul.course_top_ul li {
    font-size: 12px;
    padding-right: 15px;
    color: #6a6a6a;
}

.course_details h4.title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #002147;

}
.course_details h4.course-subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #262626;
}

.course_details .course-content{
    padding: 15px 0;
}
.course_details .course-content p {
    font-size: 15px;
    font-weight: 600;
    color: #505050;
    line-height: 30px;
}
.course_details .course-content ul {
    display: block;
    padding-left: 10px;
    padding-top: 10px;
}
.course_details .course-content ul li {
    font-size: 15px;
    font-weight: 600;
    color: #505050;
    line-height: 30px;
}
.course_details .course-content ul li:before {
  content: '✓';
  padding-right: 5px;
}
.course_details .course-content table{
   width: 50%;
    border: 1px solid black;
    border-radius: 5px;
}

.course-accordion {}
.course-accordion .accordion-button:not(.collapsed) {
    color: #dbdbdb;
    background-color: #1a6c52;
    box-shadow: none;
}
.course-accordion .accordion-body {
    padding: 1rem 1.25rem;
    background: #ffffff;
    border: 1px solid #ddd;
}
.course-accordion .accordion-item {
    border: none;
    margin-bottom: 10px;
}

.course-accordion .accordion-button::after {

    background-image: none;

}

.profile_page .course-cariculam .accordion-body ul li{
    display: block;
    border-bottom: 1px solid #e1e1e1;
    padding: 12px 10px;
    text-transform: capitalize;
    cursor: pointer;
}

.profile_page .course-cariculam .accordion-body ul li a{
    display: block;

}

.profile_page .course-cariculam .accordion-body ul li:last-child {
    border-bottom: none;
}


.pdf_view_link {
    background: #005640e8;
    display: block;
    text-align: center;
    height: 200px;
    width: 300px;
    line-height: 200px;
    color: #fff;
    font-size: 18px;
    border-radius: 16px;
    text-transform: capitalize;
    font-weight: 700;
    text-decoration: none;
    margin: auto;
}
