/* 
    * Common  Section
    * Common  Class
    * Preloder
    * Header
    * Banner
*/
:root {
  --color-1: #f42a41;
  --color-2: #006a4e;
  --color-white: #fff;
  --color-black: #000;
  --font-family-1: "Poppins", sans-serif;
  --font-family-2: "Source Serif Pro", serif;
}

/*=========== Preloader Section Start  ==========*/
.loader_bg {
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}
.loader {
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before,
.loader:after {
  content: "";
  border: 2em solid var(--color-2);
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before {
  animation-delay: 0.5s;
}
.loader:before {
  border: 2em solid var(--color-1);
}
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*============ Preloader Section End ============== */

/*============ header Css Start  ===================*/
header {
  /* position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        right: 0; */
}

.top_header {
  background: #fafafa;
}
/* header nav{
    line-height: 7rem;
    background: var(--color-2);
} */
nav .logo img {
  width: 100px;
}

nav ul li a {
  color: var(--color-white);
  padding: 0 1.5rem;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all linear 0.3s;
}

.navbar_logo {
  color: #fff;
  position: absolute;
  font-size: 2.2rem;
}

.navbar_logo::after {
  position: absolute;
  content: "";
  bottom: 32%;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: #ff4f5a;
}
.menu {
  margin: 0 auto;
}
.menu_search_section {
  color: #fff;
}

.menu_search_section_item li {
  margin: 0 1rem;
  font-size: 1.8rem;
}

/*============ Header section end  ==============*/

/*============ Banner section Start  ==============*/
.banner {
  background: url(../img/banner/bd_flag.jpg) no-repeat center;
  background-size: cover;
  padding: 20rem 0;
  position: relative;
  z-index: 1;
  margin-top: 60px;
}
.banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e0e0eab;
  z-index: -1;
}

.banner_content h1 {
  color: var(--color-white);
  line-height: 8rem;
  font: 500 5.5rem var(--font-family-2);
  margin-bottom: 1rem;
  word-spacing: 8px;
  letter-spacing: -1px;
}

.banner_content p {
  color: #c9c9c9;
  margin-bottom: 4rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.banner_image {
  padding: 3rem 0;
}

/*========= banner section end  ===========*/

/*=========== page banner section start  =============*/
.page_banner {
  position: relative;
  z-index: 1;
  padding: 100px 0;
}

.registation_form_page {
  background: url(../img/registaion/registaion_banner.jpg) no-repeat center;
  background-size: cover;
}

.registation_details_page {
  background: url(../img/registaion/bangladesh6.jpg) no-repeat center;
  background-size: cover;
}

.registation_form_page{
    background: url(../img/registaion/registaion_banner.jpg) no-repeat center;
    background-size: cover;
}

.registation_details_page{
    background: url(../img/registaion/bangladesh6.jpg) no-repeat center;
    background-size: cover;
}

.page_banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e0c0cc7;
  z-index: -1;
}

.page_banner_content {
  text-align: center;
}

.page_banner_content h2 {
  color: var(--color-white);
  font-size: 36px;
  padding-bottom: 20px;
}

.page_banner_content p {
  color: #c5c5c5;
  font-size: 15px;
}
/*============ page banner section end  =================*/

/*=============== registion form setion css start  ============*/
.registaion_form {
}

.registaion_form label {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
  color: black;
}

.registaion_form input,
.registaion_form select {
  padding: 0.8rem 1rem;
  font-size: 1.6rem;
  /* border: none; */
  /* border-bottom: 1px solid #ced4da; */
  border-radius: 0.75rem;
  width: 75%;
  margin-bottom: 1rem;
}

.mandatory {
  color: red;
}

.registaion_form input:focus {
  /* border-color: var(--color-2);  
    box-shadow:none; */
}

/*================== registion form setion css end  ===================*/



.course_category, .mentor, .why_choose, .about_us, .populer_blog, .newsletter, .registaion_form_section, .registation_course, .testimonial, .registaion_details_section,.gallary{
    padding: 10rem 0;
}
/* registation_course section css start  */
.registation_course{
    background: url(../img/banner/registation_course.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: var(--color-white);
}

.registation_course::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e6;
  z-index: -1;
}

.registation_course h4 {
    font-weight: 600;
    padding-bottom: 20px;
    font-size: 26px;
}
.registation_course p {
  font-size: 16px;
}

.registation_course a:nth-child(2) {
  background: var(--color-2);
  margin-left: 5px;
}

.registation_course a:nth-child(2):hover {
  background: var(--color-1);
}
/*=============== registation_course section css end  ===============*/

/*=============== About us section start  ===============*/
.about_us h5 {
  padding: 20px 0 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-2);
  font-family: var(--font-family-1);
}

.about_us p {
  padding-bottom: 20px;
  line-height: 24px;
  color: #787878;
}
/*================ About us section end  ================*/
/*================ course category section start  ================*/
.course_category {
  background: #ff4f5a17;
}

.course_category_item {
  background: #ffffff;
  padding: 51px 0;
  text-align: center;
  border-radius: 5px;
  margin: 7px 0;
  box-shadow: 5px 5px 20px #0000000f;
}

.course_category_item:hover {
  box-shadow: 5px 5px 20px #00000034;
}

.course_category_item h5 {
    font-family: var(--font-family-1);
    color: #646464;
    font-size: 16px;
}
/*================ course category section end  ================*/

/*================ Notcie section css start  ================*/
.notice {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  overflow: hidden;
}

.notice_item {
  box-shadow: 5px 5px 20px #00000034;
  margin-bottom: 30px;
  border-radius: 20px;
  overflow: hidden;
}

.notice_item img {
  height: 205px;
}

.notice_item .notice_item_content {
  padding: 3rem;
}

.notice_item .notice_item_content .notice_category {
  color: var(--color-1);
  font-weight: 600;
}

.notice_item .notice_item_content .notice_date {
  color: #999;
}

.notice_item .notice_item_content h5 {
  padding: 15px 0;
  font: 600 18px var(--font-family-1);
  color: #484848;
}

.notice_item .notice_item_content .notice_description {
  color: #484848;
}

.notice_item .notice_item_content .buy_btn {
  background: #ff4f5a;
  padding: 8px 16px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
}
.our_course_item .our_course_item_content .buy_btn i {
  padding-right: 5px;
}

.see_all_btn {
  background: #006a4e;
  padding: 15px 50px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  margin-top: 20px;
  border-radius: 3px;
}

/* our course section css end  */

/* newsletter css start */
.newsletter {
  background: var(--color-1);
}

.newsletter h4 {
    color: #363636;
    font-weight: 600;
    font-size: 26px;
}

.newsletter p {
  color: #363636;
  font-size: 18px;
}

.newsletter input {
  width: 356px;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  /* margin-right: 22px; */
}

.newsletter button {
  padding: 12px 30px;
  background: #1a2e35;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

/* newsletter css end */

/* mentor Css Start  */
.mentor_image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.mentor_item {
  text-align: center;
}
.mentor_item .mentor_content {
  padding: 20px 0;
}
.mentor_item .mentor_content .mentor_name {
  padding-bottom: 5px;
  font-size: 20px;
  font-family: var(--font-family-1);
}

.mentor_item .mentor_content .mentor_designation {
    padding-bottom: 15px;
    color: var(--color-1);
    font-weight: 600;
    font-family: var(--font-family-1);
    font-size: 13px;
}

.mentor_item .mentor_content p {
  padding-bottom: 20px;
  color: #999;
}

/* mentor css end  */

/* Auto Counter Css Start  */
.auto_counter {
  background: url(../img/banner/auto_counter.jpg) no-repeat center;
  background-size: cover;
  padding: 70px 0;
  position: relative;
  z-index: 1;
}
.auto_counter::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #060203e0;
  top: 0;
  left: 0;
  z-index: -1;
}

.counter_item {
  text-align: center;
  color: var(--color-white);
}
.counter_item h3 {
  font: 5rem var(--font-family-1);
  color: var(--color-1);
  font-weight: 800;
}

.counter_item h5 {
  font: 2rem var(--font-family-1);
}

/* Auto Counter Css End  */

/* why choose css start  */

.accordion {
  width: 100%;
}
.accordion-button {
  font: 1.5rem var(--font-family-1);
  font-weight: 600;
  color: #606060;
}
.accordion-button:not(.collapsed) {
  color: var(--color-1);
  background-color: #30282926;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-body {
  font-size: 1.4rem;
  padding: 2rem 2.5rem;
  line-height: 25px;
}
/* why choose css end  */

/* Mentor Css Start  */
.mentor_item .mentor_content ul {
  justify-content: center;
}
.mentor_item .mentor_content ul li a {
  font-size: 18px;
  padding: 0 8px;
  color: #999;
}

.mentor_item .mentor_content ul li a:hover {
  color: var(--color-2);
}
/* Mentor Css End  */



/* Testimonial Css STart  */
.testimonial_image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 24px;
}

.testimonal_item {
    background: var(--color-2);
    text-align: center;
    padding: 40px 20px;
    border-radius: 4px;
}
.testimonial_name {
    color: #fff;
    font: 600 24px var(--font-family-1);
    padding-bottom: 5px;
}
.testimonial_designation{
    padding-bottom: 24px;
    color: #fff;
    font-family: var(--font-family-1);
}
.testimonial_description{
    color: #fff;
    font-family: var(--font-family-1);
}

.owl-carousel .owl-item img {
    display: inline-block;
    width: 100px;
}

.testimonial .owl-next{
    position: absolute;
    top: 160px;
    right: -35px;
}
.testimonial .owl-prev {
    position: absolute;
    top: 160px;
    left: -30px;
}
.testimonial .owl-prev i, .testimonial .owl-next i {
    font-size: 20px;
    padding: 6px 6px;
    color: var(--color-1);
}

/* testimonial css  End  */

/* footer css start  */

footer{
    background: var(--color-2);
    color: #fff;
    
}

footer .footer_subtitle{
    padding: 2rem 0;
}


.footer .main_footer {
    padding: 5rem 0;
}

.main_footer ul{
    display: block;
}
.main_footer ul li {
    line-height: 2.4rem;
    padding-bottom: 1.6rem;
}

.main_footer ul li a {
    color: #cdcdcd;
    font-size: 1.4rem;
}
.main_footer ul li a:hover {
    color: var(--color-1);
}


.footer_bottom {
    border-top: 1px solid var(--color-white);
    padding: 2rem 0;
    color: #cdcdcd;
    font-size: 1.4rem;
}
.footer_bottom ul li {
   padding: 0 1rem;
}
.footer_bottom ul li a {
    font-size: 1.4rem;
    color: #cdcdcd;
}
.footer_bottom ul li a:hover {
    color: var(--color-1);
}


/* ============================================ */

#back_to_top_btn {
    display: inline-block;
    background-color: #f42a41;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#back_to_top_btn::after {
    content: "\f062";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.6em;
    line-height: 40px;
    color: #fff;
}
  #back_to_top_btn:hover {
    cursor: pointer;
    background-color: #333;
  }
  #back_to_top_btn:active {
    background-color: #555;
  }
  #back_to_top_btn.show {
    opacity: 1;
    visibility: visible;
  }

.testimonial .owl-next {
  position: absolute;
  top: 160px;
  right: -35px;
}
.testimonial .owl-prev {
  position: absolute;
  top: 160px;
  left: -30px;
}
.testimonial .owl-prev i,
.testimonial .owl-next i {
  font-size: 20px;
  padding: 6px 6px;
  color: #333;
}

/* testimonial css  End  */

/* footer css start  */

footer {
  background: #202a3e;
  color: #fff;
}

footer .footer_subtitle {
  padding: 2rem 0;
  font-size: 20px;
  font-weight: 600;
}

.footer .main_footer {
  padding: 5rem 0;
}

.main_footer ul {
  display: block;
}
.main_footer ul li {
  line-height: 2.4rem;
  padding-bottom: 1.6rem;
}

.main_footer ul li a {
  color: #cdcdcd;
  font-size: 1.4rem;
}
.main_footer ul li a:hover {
  color: var(--color-1);
}

.footer_bottom {
  border-top: 1px solid var(--color-white);
  padding: 2rem 0;
  color: #cdcdcd;
  font-size: 1.4rem;
}
.footer_bottom ul li {
  padding: 0 1rem;
}
.footer_bottom ul li a {
  font-size: 1.4rem;
  color: #cdcdcd;
}
.footer_bottom ul li a:hover {
  color: var(--color-1);
}

/* ============================================ */

#back_to_top_btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back_to_top_btn::after {
  content: "\f062";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6em;
  line-height: 40px;
  color: #fff;
}
#back_to_top_btn:hover {
  cursor: pointer;
  background-color: #333;
}

#back_to_top_btn.show {
  opacity: 1;
  visibility: visible;
  background: #333;
}

/* Gallery Css strat  */
.gallary {
  background: #006a4e2e;
}

/* ================================================== */

header nav {
  background: var(--color-white);
  border-bottom: 1px solid #ebebeb;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: var(--color-2);
  font-size: 1.5rem;
  transition: all linear 0.3s;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--color-1);
  /* color: rgba(0,0,0,.7); */
}

.navbar_auth {
}
.navbar_auth ul {
}
.navbar_auth ul li {
}
.navbar_auth ul li a {
	padding: 10px 20px;
	background: var(--color-2);
	color: #ffff;
	border-radius: 2px;
	margin-left: 1px;
}

.gallery_item {
  position: relative;
  margin-bottom: 18px;
  border-radius: 5px;
  overflow: hidden;
}

.gallery_item_content {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  background: #040404bf;
  padding: 20px;
  opacity: 0;
  transform: scale(0);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gallery_item:hover .gallery_item_content {
  opacity: 1;
  transform: scale(1);
}















/* CSS */
.button-48 {
	appearance: none;
	background-color: var(--color-1);
	border-width: 0;
	box-sizing: border-box;
	color: var(--color-white);
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1em;
	margin: 0;
	opacity: 1;
	outline: 0;
	padding: 1.2em 2.2em;
	position: relative;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: uppercase;
	transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: var(--color-2);
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}